#heading {
    display: flex;
    justify-content: center;
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    font-size: 25px; 
}

#btn-container {
    display: flex;
    justify-content: space-around;
}

#btn {
    margin-top: 200px;
    background-color: azure;
    padding: 35px;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

#btn:hover {
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    }

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
}
